* {
  margin: 0;
  padding: 0;
}

.sideBarButton {
  height: 30px;
  width: 30px;
  bottom: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 25px;
  grid-template-areas:
    "sidebar content"
    "footer footer";
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background: #292a2d;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
  background: #292a2d;
  padding: 0em 1em;
}

html {
  font-family: sans-serif;
  background: #2b2e3b;
  color: #9feaf9;
}

/* .grid div:nth-child(even) {
  background-color: red;
}

.grid div:nth-child(odd) {
  background-color: green;
} */
